<div class="header__container">
    <div class="header__content">
        <img class="header__img" src="../../../../assets/images/marvelIcon.png">
        <div class="header__menu">
            <a href="/characters" [ngClass]="{'header__selectedMenuItem': selectedTab === '/characters'}" class="header__menuItem">Characters</a>
            <a href="/comics" [ngClass]="{'header__selectedMenuItem': selectedTab === '/comics'}" class="header__menuItem">Comics</a>
            <a href="/creators" [ngClass]="{'header__selectedMenuItem': selectedTab === '/creators'}" class="header__menuItem">Creators</a>
        </div>
    </div>
</div>